<h1 class="text-3xl text-yellow-400 font-bold mb-6">Dashboard</h1>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">

  <div class="bg-slate-800 p-6 rounded-xl text-center">
    <h2 class="text-2xl text-cyan-400 font-bold">Total</h2>
    <p class="text-4xl mt-2">
      <%= total %>
    </p>
  </div>

  <div class="bg-slate-800 p-6 rounded-xl text-center">
    <h2 class="text-2xl text-pink-400 font-bold">Insta Pending</h2>
    <p class="text-4xl mt-2">
      <%= instaPending %>
    </p>
  </div>

  <div class="bg-slate-800 p-6 rounded-xl text-center">
    <h2 class="text-2xl text-red-500 font-bold">YT Pending</h2>
    <p class="text-4xl mt-2">
      <%= ytPending %>
    </p>
  </div>

</div>